body{
    /* margin: 0; */
    /* height:  700px; */
    /* background-image: linear-gradient(to left , red, pink); */
    margin: 0px;
    
}
nav{
    padding-top: 20px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    /* align-content: center; */
    justify-content: space-between;
    /* align-content: center; */
    
}
img{
    
}
marquee {
    margin-top: 20px;
    padding: 0px;
    background-color: rgb(170,221,255);
}
marquee h2{
    margin: 14px;
    /* color: pink; */
}
nav h3{
    font-weight: bold;
    color: rgb(0, 0, 66);
    text-align: center;
    padding: 0px;
    margin: 0px;
}
nav p{
    color: red;
    margin: 5px;
   
    font-weight: 600;
}
.home img{
    width: 80%;
    border-radius: 20px;
}
.home{
text-align: center;
background-image: linear-gradient(to bottom, rgb(255, 255, 255),rgb(255, 255, 255) , rgb(168, 220, 255));
    background-repeat: no-repeat;
   
}

.home h1{
    font-size: 2.5em;
    /* height: 300px; */
    margin: 0px;
    padding: 15px;
    margin-bottom: 0px;

}
.home h2{
    margin: 0px;
    color: rgb(0, 78, 131);
}

.home button{
    width: 95%;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
    background-color: rgb(0, 78, 131);
}

.skills{
    text-align: center;
    padding-top: 40px;
}
.skills h1{
    color: red;
}
.skills img{
    margin-top: 20px;
    border-radius: 20px;
}
.skills h2{
    margin: 0px;
    font-weight: 500;
    font-size: 20px;
}